.errorMessage {
  color: red;
}

.clickableErrorMessage {
  all: unset;
  font: inherit;
  color: red;
  cursor: pointer;
  display: inline;
}

.clickableErrorMessage:hover {
  text-decoration: underline;
}

.feedbackSuccessMessage {
  color: inherit;
}
