
.boardNavDesktop {
  font-size: var(--boardsbar-font-size);
  color: var(--boardsbar-separator-color);
  position: relative;
}

.checkingSubscriptions {
  font-size: var(--boardsbar-font-size);
  color: var(--boardsbar-desktop-link-text-color);
  text-transform: lowercase;
}

.boardNavDesktop a, .navTopRight span {
  color: var(--boardsbar-desktop-link-text-color);
  text-decoration: var(--boardsbar-desktop-link-text-decoration);
}

.boardList a, .boardList .placeholder, .boardList .temporaryButton {
  padding: 0 1px;
}

.boardNavDesktop a:hover, .navTopRight span:hover {
  color: var(--boardsbar-desktop-link-text-color-hover);
  text-decoration: var(--boardsbar-desktop-link-text-decoration-hover);
  cursor: pointer;
}

.placeholder {
  color: var(--boardsbar-separator-color);
}

.navTopRight {
  float: right;
  text-transform: capitalize;
}

.searchBar {
  position: absolute;
  right: 0;
  padding: 3px 5px 0 0;
}

.boardNavDesktop .searchBar {
  margin-right: -7px;
}

.temporaryButton {
  color: var(--boardsbar-desktop-link-text-color);
  text-decoration: var(--boardsbar-desktop-link-text-decoration);
  text-transform: capitalize;
}

.temporaryButton:hover {
  color: var(--boardsbar-desktop-link-text-color-hover);
  text-decoration: var(--boardsbar-desktop-link-text-decoration-hover);
  cursor: pointer;
}

.searchBar input[type="text"] {
  outline: none;
  margin: 2px;
  padding: 1px;
  border: 1px solid #000;
  width: 220px;
}

.boardNavMobile {
  padding: 2px 4px;
  background-color: var(--boardsbar-mobile-background-color);
  border-bottom: var(--boardsbar-mobile-border-bottom);
  font-size: var(--boardsbar-mobile-font-size);
  position: fixed;
  width: 100%;
  z-index: 3;
  will-change: transform;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  align-items: center;
  justify-content: space-around;
}

.boardNavMobile .pageJump a, .boardNavMobile .pageJump span {
  color: var(--boardsbar-mobile-button-text-color);
  text-decoration: var(--button-text-decoration-mobile);
}

.pageJump {
  position: relative;
}

.boardNavMobile strong {
  text-transform: capitalize;
  padding-right: 5px;
}

.boardNavMobile select {
  font-size: var(--boardsbar-mobile-font-size);
}

.boardSelect {
  float: left;
  color: var(--body-font-color);
}

.pageJump {
  float: right;
  padding: 3px 5px 0 0;
}

.pageJump a, .pageJump span {
  padding-right: 5px;
  text-decoration: var(--homepage-box-link-text-decoration);
  cursor: pointer;
}

@media (max-width: 640px) {
  .boardNavDesktop {
    display: none;
  }
}

@media (min-width: 640px) {
  .boardNavMobile {
    display: none;
  }
}
