.setting {
  margin-left: 10px;
  margin-bottom: 10px;
}

.setting button {
  cursor: pointer;
}

.setting div {
  margin-top: 5px;
}

.deleteAccount {
  margin-top: 15px;
  display: block;
  color: red;
}

.setting .createAccount {
  margin-left: 5px;
}

.warning {
  font-size: 0.8em;
  padding: 5px 0;
}

.settingTip {
  display: block;
  font-size: 0.85em;
  margin: 2px 0 10px 0;
  padding-left: 19px;
}
